*{
    font-family: var(--font2);
}
body{
    max-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5vw;
    height: 10vh;
    background-color: #fff;
    color: #000;
    box-shadow: none;
}
.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--primary);
    z-index: -1000;
    opacity: 0.5;
    border-radius: 100%;
}
.chips{
    font-size: 0.8rem;
}

.container{
    height: 90vh;
    display: flex;
    width: 90%;
    margin: 0 auto;
    font-family: var(--font1);
    background-color: #fff;
}

.hero-main{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.meeting-actions{
    display: flex;
    vertical-align: middle;
    gap: 5px;
    flex-wrap: wrap;
}

.input-box{
    border: 1px solid var(--primary);
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    height: 50px;
    width: fit-content;
    margin-top: -10px;
}
.input-box input{
    outline: none;
    border: none;
    padding: 0 10px;
}
.create-meet, .schedule-meet{
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    gap: 5px;
    color: #fff;
    background-color: var(--primary);
    border: none;
    position: relative;
    
}
.create-meet-options{
    display: flex;
    position: absolute;
    background-color: #fff;
    top: 95%;
    left: 95%;
    width: fit-content;
    flex-direction: column;
    padding: 10px;
    color: #000;
    border: 1px solid var(--primary);
    border-radius: 5px;

}
.create-meet span{
    margin-top: 2px;
}
.join-meet{
    height: 50px;
    padding: 10px 20px;
}
.join{
    outline: none;
    border: none;
    color: var(--primary);
    background-color: transparent;
}
.meeting-link:focus .join{
    color: red;
}

.hero-image{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img{
    flex-shrink: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
  }