*{
    font-family: var(--font1);
}


#Dish {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex: 1;
    border-radius: 10px;
    background: rgba(0, 0, 0, 1);

}

/* Camera */
#Dish>div {
    position: relative;
    vertical-align: middle;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    /* box-shadow: var(--shadow-dark); */
    background: #fff;
    animation: show 0.4s ease;
    width: 600px;
    height: 400px;
}


#Dish>div video {
    position: absolute;
    right: 0;
    object-fit: cover;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 2px;
    border-radius: 10px;
    overflow: hidden;
    left: 0;
    top: 0;
    background-size: cover;
    overflow: hidden;
    -webkit-transition: margin-top 1s ease-in-out;
    -moz-transition: margin-top 1s ease-in-out;
    -o-transition: margin-top 1s ease-in-out;
    transition: margin-top 1s ease-in-out;
}







